<script type="text/javascript">
$('.usermessage').autolink();
</script>
<li class="<%=cycle('odd', 'even')%>">

	<label class="pre_content">
		<%= username %> says:
	</label>
	<div class="usermessage">
		<%=message%>
	</div>
</li>
