<li class="<%=cycle('odd', 'even')%>">
<% if username==User.current.login %>
	<label class="current_user">
<% else %>
	<label class="pre_content">
<% end %>	
<%= username %> says:</label><%= message %>
</li>