div.chat_window {
	display:none;
	float:left;
	left:1px;
	border:3px solid #bbb;
	position:absolute;
	width:79%;
	height:430px;
}

#available_chats {
	overflow-y:scroll;
	overflow-x:hidden;
}
#available_chats div.chat_scroll {
	overflow-y:scroll;
	overflow-x:hidden;
}
#available_chats div.footer {
	height:300px;
	width:100%;
}
#available_chats a:hover {
	text-shadow:0px 0px 10px #aaa;
}
#available_chats {
	position:relative;
	box-shadow:inset 0px 0px 15px #88c41a;

}
ul.userlist li {
	-webkit-transition: all 0.7s ease-in-out; 
	border:1px solid #999;
	position:relative;
	margin:10px;
	
}
ul.userlist li.header {
	border:1px solid #000;
	background-color:#999;
}
ul.userlist li:hover {
	box-shadow:inset 0px 0px 10px #000;
	border:1px solid #000;
}
ul.userlist li.header:hover {
	box-shadow:none;
	border:1px solid #000;
}
div#chatting_with {
	position:relative;
	box-shadow:0px 0px 20px #000;
	z-index:1;
}
div.message_container{
	position:relative;
	overflow-y:scroll;
	min-height:370px;
	max-height:370px;
	border-bottom:3px solid #bbb;
	z-index:0;
}
div.chat_window {

}
label.message_counter {
	position:relative;
	top:-100%;
	left:100px;
	color:#fff;
	font-size:16px;
	text-shadow:0px 0px 3px #000;
	display:none;
}
div.message_frame form {
	border:1px solid #999;
}

div.message_frame form input.chat_input {
	width:88%;
}

div.chat_remove_button {
	float:right;
	position:relative;
	left:-20px;
	text-align:center;
}
label.current_user {
	color:#4d7d18;
}


#chat_content {
	position:relative;
	left:20%;
}