div.chat_window {
	display:none;
	float:left;
	left:1px;
	border:3px solid #bbb;
	position:absolute;
	width:79%;
	height:430px;
}

#available_chats {
	overflow-y:scroll;
	overflow-x:hidden;
}
#available_chats div.chat_scroll {
	overflow-y:scroll;
	overflow-x:hidden;
}
#available_chats div.footer {
	height:300px;
	width:100%;
}
#available_chats a:hover {
	text-shadow:0px 0px 10px #aaa;
}
#available_chats {
	position:relative;
	box-shadow:inset 0px 0px 15px #88c41a;

}
ul.userlist li {
	-webkit-transition: all 0.7s ease-in-out; 
	border:1px solid #999;
	position:relative;
	margin:10px;
	
}
ul.userlist li.red {
-webkit-animation-name: border_color;
-webkit-animation-duration:1s; 
-webkit-animation-timing-function:linear;
-webkit-animation-iteration-count: infinite;
}

@-webkit-keyframes border_color {
  from {
      border:1px solid #000;
	box-shadow:inset 0px 0px 10px #fff;
  }
	50% {border:1px solid #f00;
		box-shadow:inset 0px 0px 10px #f00;}
  to { 
      border:1px solid #000;
	box-shadow:inset 0px 0px 10px #fff;
  }
}

ul.userlist li.header {
	border:1px solid #000;
	background-color:#999;
}
ul.userlist li:hover {
	box-shadow:inset 0px 0px 10px #000;
	border:1px solid #000;
}
ul.userlist li.header:hover {
	box-shadow:none;
	border:1px solid #000;
}
div#chatting_with {
	position:relative;
	box-shadow:0px 0px 20px #000;
	z-index:1;
}
div.message_container{
	position:relative;
	overflow-y:scroll;
	min-height:370px;
	max-height:370px;
	border-bottom:3px solid #bbb;
	z-index:0;
}
div.chat_window {

}
label.message_counter {
	position:relative;
	top:-100%;
	left:85px;
	color:#fff;
	font-size:16px;
	text-shadow: -1px 0 red, 0 1px red, 1px 0 red, 0 -1px red;
	display:none;
}
div.message_frame form {
	border:1px solid #999;
}

div.message_frame form input.chat_input {
	width:88%;
}

div.chat_remove_button {
	float:right;
	position:relative;
	left:-20px;
	text-align:center;
}

a.link {
	color:#00f;
	text-decoration:underline;
}


#chat_content {
	position:relative;
	left:20%;
}